.row {
  width: 94%;
  max-width: 1140px;
  margin: 0 auto;
}

.col-six,
.col-1-2 {
  width: 50%;
}

.col-twelve,
.col-full {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .row {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .row .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .tab-full {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .row {
    padding-left: 25px;
    padding-right: 25px;
  }

  .row .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .mob-full {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .row .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.button {
  display: inline-block;
  font-family: "poppins-bold", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  height: 5.4rem;
  line-height: 5.4rem;
  padding: 0 3rem;
  margin: 0 0.3rem 1.2rem 0;
  background: #d8d8d8;
  color: #313131;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background: #313131;
  color: #ffffff;
}

.button:hover {
  background: #bebebe;
  color: #000000;
  outline: 0;
}

.section-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3.6rem;
  position: relative;
}
.section-intro h1 {
  font-family: "poppins-semibold", serif;
  font-size: 3.6rem;
  color: #313131;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
.section-intro h5 {
  color: #0d6c07;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: 0.4rem;
}

@media only screen and (max-width: 768px) {
  .section-intro {
    max-width: 650px;
  }
  .section-intro h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .section-intro h1 {
    font-size: 2.6rem;
  }
  .section-intro h5 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }
}
@media only screen and (max-width: 400px) {
  .section-intro h1 {
    font-size: 2.4rem;
  }
}

#about {
  background: #ffffff;
  padding-top: 12rem;
  padding-bottom: 15rem;
}

.intro-info {
  margin-top: 4.2rem;
  margin-right: -30px;
  margin-left: -30px;
}
.intro-info img {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  margin: 0.9rem 0 0 0;
  float: left;
}
.intro-info .lead {
  text-align: left;
  padding-left: 13rem;
  font-family: "lora-regular", serif;
  font-size: 18px;
  line-height: 1.8;
  color: #888888;
}

.profile-paragraph {
  font-family: "lora-regular", serif;
  color: #888888;
  font-size: 18px;
}

.about-content {
  position: relative;
  text-align: left;
  max-width: 850px;
  margin-bottom: 3.6rem;
}
.about-content h3 {
  font-family: "poppins-bold", sans-serif;
  font-size: 19px;
  letter-spacing: 0.5px;
}
.about-content .info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-content .info-list li {
  padding: 0 0 1.5rem 0;
  margin-bottom: 0.6rem;
}
.about-content .info-list li strong {
  font-family: "poppins-bold", sans-serif;
  color: #313131;
  font-size: 14px;
  font-weight: 600;
}
.about-content .info-list li span {
  display: block;
  font-family: "poppins-regular", sans-serif;
  color: #888888;
  font-size: 1.5rem;
  line-height: 1;
}
.about-content .skill-bars {
  margin-top: 6rem;
}

.button-section {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .intro-info {
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .intro-info img {
    height: 7.8rem;
    width: 7.8rem;
  }
  .intro-info .lead {
    padding-left: 11rem;
  }
  .about-content .info-list,
  .about-content .skill-bars {
    margin-bottom: 4.2rem;
  }
  .button-section .button {
    width: 100%;
    margin-bottom: 3rem;
  }
  .button-section [class*="col-"] .button:first-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .intro-info {
    text-align: center;
    margin-top: 3rem;
  }
  .intro-info img {
    height: 6.6rem;
    width: 6.6rem;
    float: none;
    display: inline-block;
  }
  .intro-info .lead {
    padding-left: 0;
    text-align: center;
  }
}
